# Comparer deux tables Excel

In [1]:
import pandas as pd

## Chargement des deux onglets

In [2]:
comments_a = pd.read_excel("data.xlsx", "Comments 1")
comments_a.head()

                                               title body
0  Health Canada approves AstraZeneca COVID-19 va...  NaN
1  COVID-19 in Canada: 'Vaccination passports' a ...  NaN
2  Coronavirus variants could fuel Canada's third...  NaN
3  Canadian government to extend COVID-19 emergen...  NaN
4  Canada: Pfizer is 'extremely committed' to mee...  NaN

In [3]:
comments_b = pd.read_excel("data.xlsx", "Comments 2")
comments_b.head()

                                               title body
0  Health Canada approves AstraZeneca COVID-19 va...  NaN
1  COVID-19 in Canada: 'Vaccination passports' a ...  NaN
2  Coronavirus variants could fuel Canada's third...  NaN
3  Canadian government to extend COVID-19 emergen...  NaN
4  Canada: Pfizer is 'extremely committed' to mee...  NaN

## Quelques statistiques sur le contenu

In [4]:
comments_a.describe()

          title            body
count      1521            1158
unique      449            1136
top     Comment  You got it bud
freq       1073              15

In [5]:
comments_b.describe()

          title            body
count      1523            1159
unique      450            1137
top     Comment  You got it bud
freq       1074              15

## La méthode `isin()`

In [6]:
comments_a["body"].isin(comments_b["body"])

0       True
1       True
2       True
3       True
4       True
        ...
1516    True
1517    True
1518    True
1519    True
1520    True
Name: body, Length: 1521, dtype: bool

In [7]:
~comments_a["body"].isin(comments_b["body"])

0       False
1       False
2       False
3       False
4       False
        ...
1516    False
1517    False
1518    False
1519    False
1520    False
Name: body, Length: 1521, dtype: bool

## Commentaires de l'onglet A qui ne sont pas dans l'onglet B

In [8]:
comments_a[~comments_a["body"].isin(comments_b["body"])]

,title,body
85,Comment,Basically nothing.\n\n>Autoimmunity to the cen...
224,5 Products you should Have Before you get your...,Vaccine products are a contentious topic in ou...
700,Comment,Please don't. If you get your father vaccinate...
942,Comment,As far as I know no vaccine requires the use o...
1145,Comment,So do pears though :D
1298,Comment,"1) Autism is not ***just***... genetic, it's a..."

## Commentaires de l'onglet B qui ne sont pas dans l'onget A

In [9]:
comments_b[~comments_b["body"].isin(comments_a["body"])]

,title,body
52,Comment,>The 1 in 1000 fatality rate from measles is a...
288,"No matter what side of the debate you are on, ...",The fact that human society is continually bei...
699,Comment,Quit stealing images. Downvote this poster.
851,Comment,Of course not all â€œpro vaxâ€ individuals ar...
967,Comment,The reason is sexism
1028,Comment,Oh my you are a witty one arent you? I would p...
1194,Comment,"The Mawson study (not Mawsom, as the picture s..."